<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Albums (displaying it like it's 1996)</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Albums....</h1>
<ul th:each="album : ${albums}" th:with="info=${album}">
    <li th:text="${album.artist}"></li>
    <li th:text="${album.title}">Title</li>
    <li th:text="${album.songCount}"></li>
    <li th:text="${album.length}"></li>
    <li><img th:src="${album.imageUrl}"></li>
</ul>

</body>
</html>